<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <title>Edit employee</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>

<body>
<div class="container">
    <h1>Discipline</h1>
    <form th:action="@{/updatediscipline}" th:object="${disciplines}" method="POST">

        <p>Discipline Name:
            <input type="text" th:field="*{name}" />
        </p>
        <p>Lecturer:
            <input type="text" th:field="*{teacher}" />
        </p>
        <p> Hours:
            <input type="text" th:field="*{hours}" />
        </p>

        <input class ="button-main-page" type="submit" value="Edit"/>
    </form>
</div>
<div th:if="${errorMessage}" th:utext="${errorMessage}"
     style="color:red;font-style:italic;">
</div>
</body>

</html>